
#map {
 height: 600px;
 margin: 10px;
 margin-top: 40px;
}
.col-xl{
  padding-top: 30px;
}

.nav-item{
  font-size: 1em;
  font-family: Optima, sans-serif;
}

.col-sm{
word-break: break-word;
text-align: justify;
margin: 40px;
}

.col-sm-V{
  margin-right: 100px;
}

.title{
  text-align: center;
}

.h5{
word-break: break;
background-color: #ffff;
text-align: left;
}

.container-fluid{
  background-color: ##83b5ab;
  background-blend-mode: lighten;
}

.contact{
background-color: #83b5ab;
}

.gif{
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.title2{
  background-color: #cae3cc;
  text-align: center;
  word-break: normal;
  margin: 40px;
}


#cae3cc
#83b5ab
#8cb28f

.misfacts {
width: 50%;
}

.footer{
background-color: #83b5ab;
margin: 40px;
}

.foottext{
margin:40px;
text-align: justify;
word-break: break;
}

.adress{
  text-align: justify;
  word-break: break-all;
}


.afwisseling{
background-color: #8cb28f;
}
