
#map {
 height: 500px;
 width : 100%;
}


.nav-item{
  font-size: 1em;
  font-family: Optima, sans-serif;
}

.col-sm{
margin-left: 10px;
word-break: break;
text-align: right;
}

.col-sm-V{
  margin-right: 100px;
}

.title{
  text-align: center;
}

.h5-L{
word-break: break;
background-color: #ffff;
text-align: right;
}

.h5{
word-break: break;
background-color: #ffff;
text-align: left;
}

.h5-R{
  text-align: left;
}

.container-fluid{
  background-color: #F0F0F0;
  background-blend-mode: lighten;
}

.contact{
background-color: #83b5ab;
}

.gif{
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.threats{
  background-color: #cae3cc;
}

#cae3cc
#83b5ab
#8cb28f

.misfacts {
width: 50%

}
